.page-header {

}

dd {
    margin-bottom: 10px;
}

a {
    color: #2D6ED3;
}

.venue { font-style: italic; }

#pubTable_filter{
    display:none;
}

#sec {
    background-color: #F4F4FF;
}

#hw {
    background-color: #FFF4F4;
}

#exam {
    background-color: #DDCCFF;
}

#event {
    background-color: #FFFFCC;
}
