.page-header {

}

dd {
    margin-bottom: 10px;
}

a {
    color: #2D6ED3;
}

.venue { font-style: italic; }

#pubTable_filter{
    display:none;
}

#sec {
    background-color: #F8F8FF;
}

#hw {
    background-color: #FFF8F8;
}

#exam {
    background-color: #FF99FF;
}
