<header id="header" class="main-container">
  <div class="main">
      <h1 class="header-title col-md-3">
          <a href="index.html">CS 181</a>
      </h1>
      <nav class="col-md-9">
          <ul>
              <li>
                  <a href="syllabus.html">Syllabus</a>
              </li>
              <li>
                  <a href="schedule.html">Schedule</a>
              </li>
              <li>
                  <a href="recaps.html">Recaps</a>
              </li>
              <li>
                  <a href="resources.html">Resources</a>
              </li>
              <li>
                  <a href="staff.html">Staff</a>
              </li>
              <li>
                  <a href="homework.html">HW</a>
              </li>
              <li>
                  <a href="sections.html">Sections</a>
              </li>
              <li>
                  <a href="https://piazza.com/harvard/spring2020/cs181" target="_blank">Piazza</a>
              </li>
          </ul>
      </nav>
  </div>
</header>
