<header id="header" class="main-container">
  <div class="main">
      <h1 class="header-title col-md-3">
          <a href="{{ site.baseurl }}/">CS 181</a>
      </h1>

      <nav class="col-md-9">
      <ul>
        <li class="dropdown">
          <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            General
          </a>
          <ul class="dropdown-menu" type="button" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/syllabus">Syllabus</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/staff">Staff</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/officehours">Office Hours</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/resources">Resources</a></li><br>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/schedule">Schedule</a></li>
        <li><a href="{{ site.baseurl }}/cube"><!-- Cube --> <img class="header-icon" src="{{ site.baseurl }}/css/cube2.png"></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lecture Recaps
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" type="button">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap2">Lecture 2 (Linear Regression)</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap3">Lecture 3 (Probabilistic Regression)</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap4">Lecture 4 (Linear Classification)</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap5">Lecture 5 (Probabilistic Classification)</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/recap6">Lecture 6 (Model Selection - Frequentist)</a></li><br>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/sections">Sections</a></li>
        <li><a href="{{ site.baseurl }}/homework">HW</a></li>
        <li><a href="https://piazza.com/harvard/spring2020/cs181" target="_blank">Piazza</a></li>
      </ul>
      </nav>
  </div>
</header>
