<header id="header" class="main-container">
  <div class="main">
      <h1 class="header-title col-md-3">
          <a href="index.html">CS 181</a>
      </h1>
      <nav class="col-md-9">
          <ul>
              <li>
                  <a href="/cs181-web/syllabus">Syllabus</a>
              </li>
              <li>
                  <a href="/cs181-web/schedule">Schedule</a>
              </li>
              <li>
                  <a href="/cs181-web/recaps">Recaps</a>
              </li>
              <li>
                  <a href="/cs181-web/resources">Resources</a>
              </li>
              <li>
                  <a href="/cs181-web/staff">Staff</a>
              </li>
              <li>
                  <a href="/cs181-web/homework">HW</a>
              </li>
              <li>
                  <a href="/cs181-web/sections">Sections</a>
              </li>
              <li>
                  <a href="https://piazza.com/harvard/spring2020/cs181" target="_blank">Piazza</a>
              </li>
          </ul>
      </nav>
  </div>
</header>
